.homepage{
    .besparing-grafiek{
        width:300px;
        height:250px;
        margin:20px auto;
        position:relative;
        .besparing-header{
            position:absolute;
            top:80px;
            width:100%;
            text-align:center;
            font-size:20px;
            font-weight:bold;
            color:#009fda;
        }
        .besparing-waarde{
            position:absolute;
            top:105px;
            width:100%;
            text-align:center;
            font-size:24px;
            font-weight:bold;
            color:#009fda;
        }
    }

    .besparing-details{

    }
    .transactie-details{

    }
    .chart.besparing{
        height:250px;
    }

    .besparing-tabel{
        .besparing-header{
            background:#333;
            color:#fff;
            margin:0;
            padding:10px;
        }
        span.besparing{
            float:right;
        }
    }
}
