<div ng-include src="'/_header.html'"></div>
<div class="row">
    <div class="small-12 columns">
        <div class="page homepage">
        	<!-- <h1>Huidige besparing</h1> -->

            <div class="besparing-grafiek">
                <canvas id="pie" class="chart chart-pie besparing" data="home.besparingData" labels="home.besparingLabels" colours="home.besparingKleuren" options="home.besparingOpties" height="250"></canvas>

                <div class="besparing-header">Besparing:</div>
                <div class="besparing-waarde">&euro; 15,-</div>
            </div>

            <div class="besparing-details">
                <h2>Details:</h2>
                <p>Huidige maandbedrag: &euro; 104,63</p>
                <p>Nog 7 dagen te gaan voor maximale besparing</p>
            </div>
            <div class="transactie-details">
                <h2>Transacties:</h2>
                <p>3 transacties ter waarde van: &euro; 104,63</p>
                <p>Nog 7 dagen te gaan voor maximale besparing</p>
            </div>

            <!--
        	<p>This is the homepage of the Framework</p>
        	<p>Some boolean is {{home.someBoolean}} and we have a value of <span ng-bind="home.someFunction();"></span></p> -->
            <!-- <p><a class="button" href="#/details">Details</a></p>
            <p><a class="button" href="#/">Uitloggen</a></p> -->

			<dl class="accordion" data-accordion>
				<dd class="accordion-navigation" data-ng-repeat="purchase in home.purchases" data-ng-init="showPanel = false">
					<a data-ng-click="showPanel = !showPanel">{{purchase.date}}</a>
					<div id="panel1b" class="content" data-ng-class="{active: showPanel}">

                        <table>
                            <thead>
                                <tr>
                                    <th>Table Header</th>
                                    <th>Table Header</th>
                                    <th>Table Header</th>
                                    <th>Table Header</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in purchase.items">
                                    <td>{{item.name}}</td> <td>{{item.index}}</td><td>{{item.name}}</td> <td>{{item.index}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</dd>
			</dl>
	    </div>
	</div>
</div>
